p{
    color: aquamarine;
    background-color:dimgray;
    font-size: larger;
    margin: 1cm;
}
h1,h2,h3{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: xx-large;
    text-align: center;
}

input{
    width: 10cm;
    height: 1cm;
    margin: 5mm;
    font-size: 18px;
}